 @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap'); 

*{
    background-color: rgb(32, 27, 32);
    font-family: 'ubuntu', sans-serif;
}
#mainDiv{
    display: flex;
    justify-content: center;
    margin-top: 50%;
    margin-bottom: 50%;
}

#calculatorContainer{
    width: 500px;
    height: 500px;
    background-color: silver;
    
}
#screenDiv{
    background-color: rgb(66, 128, 66);
    width: 90%;
    height: 20%;
    margin-top: 5%;
    margin-left: 5%;
    text-align: right;
    
}
#numberInputs{
    font-size: 100px;
    background: none;
    
}