 @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap'); 

*{
    
    font-family: 'ubuntu', sans-serif;
}
body{
    background-color: rgb(32, 27, 32);
}
#mainDiv{
    display: flex;
    justify-content: center;
    margin-top: 20%;
    
}

#calculatorContainer{
    width: 50%;
    height: 1000px;
    background-color: silver;
    border-radius: 24px;
    
}
#screenDiv{
    background-color: rgb(66, 128, 66);
    width: 90%;
    height: 20%;
    margin-top: 5%;
    margin-left: 5%;
    text-align: right;
    
}
#numberInputs{
    font-size: 100px;
    background: none;
    
}
#clearAndDeleteContainer{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 5%;
   margin-left: 5%;
   margin-right: 5%;
   margin-top: 5%;
   height: 10%;
   
}
#clear, #delete{
    font-size: 24px;
    border-radius: 25px;
}
#clear:hover, #delete:hover, button:hover {
    transform: scale(1.1, 1.1); 
    box-shadow: 1px 2px 4px;
    transition: 0.1s ease-in-out;
}
#firstlinenumberscontainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    height: 10%;
}
#seven, #eight, #nine, #division{
    font-size: 24px;
    border-radius: 25px;

}
#secondlinenumberscontainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    height: 10%;
}
#four, #five, #six, #multiply{
    font-size: 24px;
    border-radius: 25px;
}
#thirdlinenumberscontainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    height: 10%;
}
#one, #two, #three, #minus{
    font-size: 24px;
    border-radius: 25px;
}
#lastlinenumberscontainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    height: 10%;
}
#point, #zero, #equalSign, #plus{
    font-size: 24px;
    border-radius: 25px;
}
#clear:hover{
    background-color: rgba(255, 0, 0, 0.616);
}
#delete:hover{
    background-color: rgba(255, 255, 0, 0.664);

}